{{ $package := .Get "package" | lower }}
{{ $guide := (slice "ibrokers" "quantmod" "ttr" "xts") }}
<div class="container" role="main">
  <div class="row">
    <p>I look forward to your questions and feedback! If you have a question, please ask on <a href="http://stackoverflow.com/">Stack Overflow</a> and use the
    <a href="http://stackoverflow.com/questions/tagged/r">[r]</a> and <a href="http://stackoverflow.com/questions/tagged/{{ $package }}">[{{ $package }}]</a> tags.
    Or you can send an email to the <a href="https://stat.ethz.ch/mailman/listinfo/r-sig-finance">R-SIG-Finance</a> mailing list (you must subscribe to post).
    Open an <a href="https://github.com/joshuaulrich/{{ $package }}/issues">issue on GitHub</a> if you find a bug or want to request a feature.
    {{ if in $guide $package }}
        Please read the <a href="https://github.com/joshuaulrich/{{ $package }}/wiki/Contributing-Guide">contributing guide</a> first!
        It will help save time for both of us. ;-)</p>
    {{ end }}
  </div>
</div>
