<div class="container" role="main">
  <div class="row">
    <hr>
    <p>If you love using my open-source work (e.g.
      <a href="https://cran.r-project.org/package=quantmod">quantmod</a>,
      <a href="https://cran.r-project.org/package=TTR">TTR</a>,
      <a href="https://cran.r-project.org/package=xts">xts</a>,
      <a href="https://cran.r-project.org/package=IBrokers">IBrokers</a>,
      <a href="https://cran.r-project.org/package=microbenchmark">microbenchmark</a>,
      <a href="https://github.com/braverock/blotter/">blotter</a>,
      <a href="https://github.com/braverock/quantstrat/">quantstrat</a>,
      etc.), you can give back by <a href="https://github.com/sponsors/joshuaulrich/">sponsoring me on GitHub</a>. I truly appreciate anything you&rsquo;re willing and able to give!</p>
  </div>
</div>
